:root {
  --alien-armpit: rgba(94, 218, 0, 1);
  --black-haze: rgba(246, 246, 246, 1);
  --dove-gray: rgba(110, 110, 110, 1);
  --font-family-just_me_again_down_here: "Just Me Again Down Here", Helvetica;
  --font-family-poppins: "Poppins", Helvetica;
  --font-size-heading: 49px;
  --font-size-subHeading: 28px;
  --font-size-subHeading2: 1.094rem;
  --font-size-body1: 21px;
  --font-size-body2: 14.7px;
  --font-size-title: 44.1px;
  --font-weight-heading: 800;
  --font-weight-subHeading: 800;
  --font-weight-subHeading2: 700;
  --font-weight-body1: 300;
  --font-weight-body2: 400;
  --font-weight-title: 400;
  --jade: rgba(0, 173, 124, 1);
  --quill-gray: rgba(213, 213, 213, 1);
  --tundora: rgba(68, 68, 68, 1);
  --white: rgba(255, 255, 255, 1);
  --btn-hover-color: #b7fe81;
  --padding-elements: 1rem 0.7rem 0.7rem 0.7rem;
  --padding-section: 3% 7%;
}

/* ------------------------------------------------------SignIn Css------------------------------------------------------------------------------- */

/* -------------SignIn background---------------- */

.background-signup {
  background-image: url(../../assets/images/background.svg);
  background-size: cover;
  padding-bottom: 30%;
}

/* ---------outer signIn div---------------------- */
.sample {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* text-align: center;*/
}

/* --------------- SignIn white box------------------ */
.signIn-box {
  border-radius: 20px;
  filter: drop-shadow(0px 4px 9px rgba(0, 0, 0, 0.25));
  text-align: center;
  background-color: white;
  width: 35%;
  /* margin-left: 30%; */
  padding: 2% 5% 2% 5%;
  margin-top: 72px;
  /* margin-bottom: 20px; */
  /* height: 100vh;*/
}

/* -----------------text box------------------- */
/* .input-length {
  width: 100%;
  margin-top: 20px;
} */

#signIn-section p {
  color: var(--dove-gray);
  font-size: var(--font-size-body1);
  font-weight: var(--font-size-body1);
  margin-top: 20px;
  padding: 12px;
  font-family: var(--font-family-poppins);
  text-align: center;
}

#signIn-section .btn-type1,
.input-length {
  width: 100%;
  height: 56.77px;
  margin-left: 0;
  margin-top: 20px;
  font-size: var(--font-size-body1);
  font-weight: 800;
}

#signIn-section .divider-custom {
  margin-top: 40px;
  margin-bottom: 20px;
  height: 0;
}

#signIn-section a {
  color: var(--alien-armpit);
  font-size: var(--font-size-body1);
  font-weight: var(--font-size-body1);
  font-family: var(--font-family-poppins);
  color: var(--jade);
}

.signIn-forgot-text {
  text-align: end;
  margin-top: 21px;
}
.signIn-forgot-text a {
  font-size: var(--font-size-body2) !important;
  font-weight: var(--font-size-body2) !important;
}
.logo {
  height: 38.6px;
  width: 38.6px;

  margin-left: 17.15px;
  margin-right: 17.15px;
}

@media screen and (max-width: 850px) {
  .signIn-box-medium {
    width: 60%;
  }
}

@media screen and (max-width: 450px) {
  .signIn-box-small {
    width: 90%;
  }
}

/* --------------- three dots in sign up page----------------- */
.three-dots {
  margin-top: 50px;
  width: 66.5px;
  height: 14.7px;
}

.Forgot-reset-btn .btn-type1 {
  margin-top: 40px !important;
}
.signIn-dont-text {
  margin-top: 86px;
}
.signIn-dont-text a {
  font-weight: bold !important;
}
span {
  color: var(--alien-armpit);
  font-size: var(--font-size-body1);
  font-weight: var(--font-size-body1);
  font-family: var(--font-family-poppins);
  color: var(--jade);
}

/* -------------------------modal design-------------------------- */
.ui.input > input {
  border-radius: 10px !important;
  background-color: var(--black-haze) !important;
  width: 100%;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-body2);
  font-weight: var(--font-size-body1);
  padding-left: 100px;
}

.modal-btn {
  width: 100%;
  height: 56.77px;
  margin-left: 0;
  margin-top: 20px;
  font-size: var(--font-size-body1);
  font-weight: 800;
}

.ui.button:hover {
  background-color: var(--btn-hover-color) !important;
  color: var(--white);
}
.input-length {
  width: 100%;
  height: 56.77px;
}

.ui.modal > .content {
  text-align: center;
}
.ui.modal {
  width: 30% !important;
  padding: 2% 3% 3% 3% !important;
  border-radius: 10px !important;
}

.ui.header:first-child {
  color: rgba(0, 173, 124, 1);
  font-size: var(--font-size-heading);
  font-weight: var(--font-weight-subHeading2) !important;
  font-family: var(--font-family-poppins);
}

.ui.modal p {
  line-height: 27px !important;
  font-size: var(--font-size-body1);
  font-weight: var(--font-weight-body1);
  text-align: center;
  color: var(--dove-gray);
}

.modal {
  padding: 1000px !important;
  position: fixed !important;
  top: auto;
  left: auto;
  /* z-index: 1060 !important; */
  display: none;
  width: 100%;
  height: auto;
  text-align: center;
  overflow: hidden;
  outline: 0;
  /* margin: 100px!important; */
}

.modal-not-interested {
  margin-top: 20px;
}
.modal-not-interested span {
  cursor: pointer;
  text-decoration-line: underline;
  font-weight: var(--font-size-subHeading2);
  font-size: var(--font-size-body2);
}
.ui.dimmer {
  z-index: 2000 !important;
}

@media screen and (max-width: 1000px) {
  .ui.modal {
    width: 42% !important;
  }
}

@media screen and (max-width: 738px) {
  .ui.modal {
    width: 63% !important;
  }
}

@media screen and (max-width: 500px) {
  .ui.modal {
    width: 90% !important;
  }
}

.red-btn {
  background-color: #ff641a;
}
/* -------------------------modal design-------------------------- */
