:root {
  --alien-armpit: rgba(94, 218, 0, 1);
  --black-haze: rgba(246, 246, 246, 1);
  --dove-gray: rgba(110, 110, 110, 1);
  --font-family-just_me_again_down_here: "Just Me Again Down Here", Helvetica;
  --font-family-poppins: "Poppins", Helvetica;
  --font-size-heading: 49px;
  --font-size-subHeading: 28px;
  --font-size-subHeading2: 1.094rem;
  --font-size-body1: 21px;
  --font-size-body2: 14.7px;
  --font-size-title: 44.1px;
  --font-weight-heading: 800;
  --font-weight-subHeading: 800;
  --font-weight-subHeading2: 700;
  --font-weight-body1: 300;
  --font-weight-body2: 400;
  --font-weight-title: 400;
  --jade: rgba(0, 173, 124, 1);
  --quill-gray: rgba(213, 213, 213, 1);
  --tundora: rgba(68, 68, 68, 1);
  --white: rgba(255, 255, 255, 1);
  --btn-hover-color: #b7fe81;
  --padding-elements: 1rem 0.7rem 0.7rem 0.7rem;
  --padding-section: 3% 7%;
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

#container {
  min-height: 100%;
}

#main {
  overflow: auto;
}

/* See-More right below text */
.below-right-text {
  color: var(--dove-gray);
  text-decoration: none;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-subHeading2);
  font-weight: var(--font-weight-subHeading2);
  display: block;
  text-align: right;
}

/* font type-body2 */
.font-body2 {
  font-size: var(--font-size-body2);
  font-weight: var(--font-weight-body2);
}

/* --------------------- Button Type-1 --------------------- */
.btn-type1 {
  background-color: var(--alien-armpit);
  border-radius: 10px;
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-subHeading2);
  font-weight: var(--font-weight-subHeading2);
  filter: drop-shadow(0px 4px 9px rgba(0, 0, 0, 0.25));
  padding: 1rem 3rem;
  margin: 0.5rem;
}
.btn-type1:hover {
  background-color: var(--btn-hover-color);
  color: var(--white);
}
.btn-type1:focus {
  outline: none;
  box-shadow: none;
}

/* --------------------- Button Type-4 --------------------- */
.btn-type4 {
  background-color: #ffffff;
  border-radius: 10px;
  color: var(--alien-armpit);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-subHeading2);
  font-weight: var(--font-weight-subHeading2);
  /* filter: drop-shadow(0px 4px 9px rgba(0, 0, 0, 0.25)); */
  padding: 1rem 3rem;
  margin: 0.5rem;
  width: 100%;
  border: 3px solid #5edb00;
  box-sizing: border-box;
}
.btn-type4:hover {
  background-color: var(--btn-hover-color);
  color: var(--white);
}
.btn-type4:focus {
  outline: none;
  box-shadow: none;
}

/* --------------------- Navigation Bar --------------------- */
/* Navbar autohide */
.autohide {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 1030;
}
.scrolled-down {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}
.scrolled-up {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

/* Shadow for navbar */
.navbar {
  box-shadow: 0px -5px 13px rgba(0, 0, 0, 0.25);
}

/* Navbar elements style */
.navbar-container {
  padding: 0 5% 0 2%;
}

/* Fixing navbar height */
.navbar-toggler {
  margin: 0.65rem 0;
}
.navbar-btn {
  margin-top: 0.43rem;
  margin-bottom: 0.43rem;
}

.nav-bar-title {
  color: var(--jade);
  font-family: var(--font-family-just_me_again_down_here);
  font-size: var(--font-size-title);
  font-style: normal;
  font-weight: var(--font-weight-title);
}

.nav-link {
  color: var(--jade);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-body1);
  font-style: normal;
  font-weight: var(--font-weight-subHeading2);
  margin: 5px 20px;
  text-transform: uppercase;
  text-align: center;
}

.navbar-btn {
  color: var(--white);
  background-color: var(--alien-armpit);
  font-size: var(--font-size-subHeading2);
  font-weight: var(--font-weight-subHeading2);
  line-height: 37.5px;
  text-align: center;
  border-radius: 10px;
  justify-content: center;
  padding: 0.3rem 2.5rem;
}

.navbar-btn:hover {
  background-color: var(--btn-hover-color);
  color: var(--white);
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 173, 124, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  outline: none;
  box-shadow: none;
}

.custom-toggler.navbar-toggler {
  border-color: var(--jade);
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

/* For Sign In/Up text in NavBar */
.navbar-access-text {
  font-size: var(--font-size-subHeading2);
  font-weight: var(--font-weight-body2);
  margin: 0;
  text-align: center;
}

/* Close collapsed nav when clicked outside */
.navbar {
  /*   z-index should be above .close-navbar-toggler */
  z-index: 1001;
}
.close-navbar-toggler {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  cursor: pointer;
}
.close-navbar-toggler.collapsed {
  z-index: -1;
}

/* --------------------- Intro Section --------------------- */
#intro-section {
  padding: var(--padding-section);
  padding-bottom: 15%;
  position: relative;
  z-index: 1;
}

h1 {
  color: var(--jade);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-heading);
  font-weight: var(--font-weight-heading);
  padding: var(--padding-elements);
}

p {
  color: var(--jade);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-body1);
  font-weight: var(--font-weight-body1);
  text-align: justify;
}

#intro-section p {
  max-width: 720px;
  padding: var(--padding-elements);
}

/* --------------------- Our-Story Section --------------------- */
#our-story-section {
  background-color: var(--black-haze);
  padding: var(--padding-section);
  position: relative;
  z-index: 0;
}

h2 {
  color: var(--jade);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-subHeading);
  font-weight: var(--font-weight-subHeading);
  padding: var(--padding-elements);
  min-width: 14%;
  text-transform: uppercase;
}

/* Common for horizontal lines in Landing page- starts*/
.divider-custom {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 2%;
}

.divider-custom .divider-custom-line {
  width: 100%;
  height: 0.1rem;
  border-radius: 2rem;
  border: 0.1px solid #d8d8d8;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}
/* Common for horizontal lines in Landing page- ends */

#our-story-section p {
  padding: var(--padding-elements);
  width: 100%;
}

.btn-align-center {
  text-align: center;
  padding: var(--padding-elements);
}

/* --------------------- Our-Vision Section --------------------- */
#our-vision-section {
  padding: var(--padding-section);
  position: relative;
  z-index: 1;
}

#our-vision-section p {
  padding: var(--padding-elements);
  width: 100%;
}

#our-vision-section .our-promise h2 {
  text-align: right;
}

/* --------------------- Why-Us Section --------------------- */
#why-us-section {
  padding: var(--padding-section);
  padding-bottom: 8%;
  position: relative;
}

.why-us-grid {
  height: 100%;
}

.why-us-icon {
  float: left;
  width: 1.75rem;
  height: 1.75rem;
  margin: 0 1rem 1rem 0;
}

/* Sub-heading 2 */
h3 {
  color: var(--jade);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-subHeading2);
  font-weight: var(--font-weight-subHeading2);
  text-align: justify;
}

#why-us-section .why-us-grid p {
  display: flex;
  text-align: left;
}

.row-flex {
  display: flex;
  flex-wrap: wrap;
}

#why-us-section [class*="col-"] {
  margin-bottom: 10px;
  padding: 2%;
}

/* --------------------- Top-FundRaisers Section --------------------- */
#available-funds-section {
  background-color: var(--black-haze);
  padding: var(--padding-section);
  position: relative;
  z-index: 1;
}

#available-funds-section [class*="col-"] {
  margin: 0.4rem 0;
  padding: 2% 3%;
}

/* Fund Card- starts*/
.fund-card-box {
  background-color: var(--black-haze);
  height: 100%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
  cursor: pointer;
}

.fund-card-box h3 {
  text-align: left;
}

.fund-card-box p {
  text-align: left;
}

.fund-card-box .card-img {
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.fund-card-box .card-img img {
  width: 100%;
  height: 200px;
  display: block;
}

.fund-card-box .card-desc {
  padding: var(--padding-elements);
}

.fund-card-box .card-desc p {
  color: var(--dove-gray);
  font-size: var(--font-size-body2);
}

.progress {
  margin: 0 0.7rem;
  height: 0.34rem;
  background-color: var(--quill-gray);
}

.fund-card-box .card-amount p {
  color: var(--tundora);
  font-size: var(--font-size-subHeading2);
  font-weight: 500;
  margin: 0;
  padding: var(--padding-elements);
}
/* Edit button */
.fund-card-box i.large.icon,
i.large.icons {
  font-size: 1.2em;
}
.edit-btn {
  position: absolute;
  background-color: var(--alien-armpit);
  color: var(--white);
  filter: drop-shadow(0px 4px 19px rgba(0, 0, 0, 0.25));
  border-radius: 50%;
  padding: 0.8rem;
  right: 5px;
  top: 170px;
}
.edit-btn:hover {
  color: var(--jade);
  background-color: var(--btn-hover-color);
}
/* Fund Card- ends*/

/* --------------------------change semantic Input background---------------------------------- */
.ui.input input {
  border-radius: 10px;
  background-color: var(--black-haze);
  width: 100%;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-body2);
  font-weight: var(--font-size-body1);
  padding-left: 100px;
}
.ui.input > input:focus {
  background-color: var(--black-haze);
  color: black !important;
  opacity: 0.85;
  transition: all 0.1s ease-in;
}

.ui[class*="left icon"].input > input {
  padding-left: 6rem !important;
}

/* --------------------- Footer Section --------------------- */
#footer {
  background-color: var(--jade);
  font-family: var(--font-family-poppins);
  padding-top: 2.5%;
  position: relative;
}

#footer [class*="col-"] {
  text-align: center;
}

.footer-copyright h4 {
  color: var(--white);
  font-weight: 400;
  font-size: var(--font-size-subHeading2);
}

.footer-links a {
  text-decoration: none;
  color: var(--white);
  font-weight: 600;
  font-size: var(--font-size-body2);
  padding: 3%;
}

.footer-social-links {
  margin-bottom: 2rem;
}

.footer-social-links a {
  text-decoration: none;
  color: var(--white);
  display: inline-flex;
  height: 2rem;
  width: 2rem;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 0.938rem 1.25rem;
  text-align: center;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 20%;
  justify-content: center;
  align-items: center;
}

#footer .footer-links a:hover {
  color: var(--quill-gray);
}

#footer .footer-social-links a:hover {
  color: var(--white);
  background-color: var(--quill-gray);
}

@media screen and (max-width: 693px) {
  .footer-links a {
    padding: 0;
    display: flex;
    margin: 0.625rem 0;
    justify-content: center;
  }
}

@media screen and (max-width: 991px) {
  .footer-copyright {
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
  }

  .footer-links {
    padding: 1rem 0;
  }
}

/* --------------------- How to FunRaise Section --------------------- */
#how-to-fundraise-section {
  padding: var(--padding-section);
  position: relative;
  z-index: 1;
}

#how-to-donate-section {
  padding: var(--padding-section);
  position: relative;
  z-index: 1;
}

.step-box p {
  color: var(--tundora);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-body1);
  font-weight: 500;
}

.input-icon {
  height: 100%;
  /* width: 2.67142857em; */
  padding: 20%;
}
.ui.icon.input > i.icon {
  margin-left: 20px;
}

@media only screen and (max-width: 360px) {
  .fund-card-box .card-img img {
    height: 115px;
  }
  .fund-card-box .card-desc p {
    display: none;
  }
  .edit-btn {
    right: 5px;
    top: 80px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 361px) and (max-width: 600px) {
  .fund-card-box .card-img img {
    height: 138px;
  }
  .fund-card-box .card-desc p {
    display: none;
  }
  .edit-btn {
    right: 5px;
    top: 100px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .fund-card-box .card-img img {
    height: 161px;
  }
  .edit-btn {
    right: 5px;
    top: 130px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .fund-card-box .card-img img {
    height: 184px;
  }
  .edit-btn {
    right: 5px;
    top: 150px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
