:root {
  --alien-armpit: rgba(94, 218, 0, 1);
  --black-haze: rgba(246, 246, 246, 1);
  --dove-gray: rgba(110, 110, 110, 1);
  --font-family-just_me_again_down_here: "Just Me Again Down Here", Helvetica;
  --font-family-poppins: "Poppins", Helvetica;
  --font-size-heading: 49px;
  --font-size-subHeading: 28px;
  --font-size-subHeading2: 1.094rem;
  --font-size-body1: 21px;
  --font-size-body2: 14.7px;
  --font-size-title: 44.1px;
  --font-weight-heading: 800;
  --font-weight-subHeading: 800;
  --font-weight-subHeading2: 700;
  --font-weight-body1: 300;
  --font-weight-body2: 400;
  --font-weight-title: 400;
  --jade: rgba(0, 173, 124, 1);
  --quill-gray: rgba(213, 213, 213, 1);
  --tundora: rgba(68, 68, 68, 1);
  --white: rgba(255, 255, 255, 1);
  --btn-hover-color: #b7fe81;
  --padding-elements: 1rem 0.7rem 0.7rem 0.7rem;
  --padding-section: 3% 7%;
}

.ui.dropdown .menu > .item > .flag,
.ui.dropdown .menu > .item > .icon,
.ui.dropdown .menu > .item > .label,
.ui.dropdown .menu > .item > img,
.ui.dropdown > .text > .flag,
.ui.dropdown > .text > .icon,
.ui.dropdown > .text > .image,
.ui.dropdown > .text > .label,
.ui.dropdown > .text > img {
  margin-right: 0;
  padding: 5px;
  margin-left: 10px;
}

.ui.dropdown .menu > .item {
  background-color: var(--black-haze);
}
.payment-background {
  padding-bottom: 30%;
}

.ui.dropdown .menu .selected.item,
.ui.dropdown.selected {
  background-color: var(--black-haze);
}

.sample {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* text-align: center;*/
}

/* --------------- SignIn white box------------------ */
.payment-box {
  border-radius: 20px;
  filter: drop-shadow(0px 4px 9px rgba(0, 0, 0, 0.25));
  text-align: center;
  background-color: white;
  width: 40%;
  /* margin-left: 30%; */
  padding: 2% 4% 5% 4%;
  margin-top: 72px;
  /* margin-bottom: 20px; */
  /* height: 100vh;*/
}

@media screen and (max-width: 850px) {
  .payment-box-medium {
    width: 60%;
  }
}

@media screen and (max-width: 450px) {
  .payment-box-small {
    width: 90%;
  }
}
@media screen and (max-width: 1076px) {
  .ui.dropdown > .text > .image,
  .ui.dropdown > .text > img {
    padding: 0 !important;
    margin-left: 2px;
    padding-top: 5px;
  }
}

.ui.dropdown > .dropdown.icon:before {
  color: var(--quill-gray) !important;
}

#payment-section .input-length {
  width: 80%;
  margin-top: 0;
}
#payment-section .ui.input input {
  border: none;
  padding-left: 20px;
  background-color: var(--black-haze);
}

#payment-section p {
  font-size: var(--font-size-body2);
  font-weight: var(--font-weight-body2);
  font-family: var(--font-family-poppins);
  color: var(--dove-gray);
  text-align: center;
}
#payment-section .btn-type1 {
  font-size: var(--font-size-body2);
  font-weight: bold;
  font-family: var(--font-family-poppins);
  color: white;
  text-align: center;
  width: 100%;
  background-color: var(--dove-gray);
  margin-top: 44.8px;
  margin-left: 0;
}
.number-list p {
  text-align: left !important;
  margin-top: 20px;
  color: var(--jade) !important;
}
.number-listView {
  background-color: var(--black-haze);
  border-radius: 10px;
  width: 100%;

  text-align: start;
  padding: 20px;
}
.option-section {
  background-color: var(--black-haze);
  padding: 0;
  border-radius: 10px;
  width: 100%;
}

.ui.button {
  border-radius: 10000px;
  background-color: var(--dove-gray);
  width: 33px;
  height: 33px;
  padding: 0;
}
.delet-icon {
  width: 16.8px;
  height: 16.8px;
}

.ui.list > .item > .image + .content {
  padding: 0 0 0 2.5em;
}
.ui.avatar.image {
  width: 1.5em;
  height: 1.5em;
}
.campaign-start .btn-type1 {
  background-color: var(--dove-gray) !important;
}
.campaign-start {
  margin-top: 20px;
}
