:root {
  --alien-armpit: rgba(94, 218, 0, 1);
  --black-haze: rgba(246, 246, 246, 1);
  --dove-gray: rgba(110, 110, 110, 1);
  --font-family-just_me_again_down_here: "Just Me Again Down Here", Helvetica;
  --font-family-poppins: "Poppins", Helvetica;
  --font-size-heading: 49px;
  --font-size-subHeading: 28px;
  --font-size-subHeading2: 1.094rem;
  --font-size-body1: 21px;
  --font-size-body2: 14.7px;
  --font-size-title: 44.1px;
  --font-weight-heading: 800;
  --font-weight-subHeading: 800;
  --font-weight-subHeading2: 700;
  --font-weight-body1: 300;
  --font-weight-body2: 400;
  --font-weight-title: 400;
  --jade: rgba(0, 173, 124, 1);
  --quill-gray: rgba(213, 213, 213, 1);
  --tundora: rgba(68, 68, 68, 1);
  --white: rgba(255, 255, 255, 1);
  --btn-hover-color: #b7fe81;
  --padding-elements: 1rem 0.7rem 0.7rem 0.7rem;
  --padding-section: 3% 7%;
}

.private-navbar .navbar-container .btn-group li {
  padding: 0.2rem 1rem;
}

.private-navbar .navbar-container {
  padding-right: 1%;
}

.private-navbar .navbar-container .btn-group a {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-body2);
  font-weight: var(--font-weight-body2);
  color: var(--dove-gray);
}

.private-navbar .btn {
  text-align: center;
  color: var(--alien-armpit);
}

.private-navbar .btn-group,
.btn-group-vertical {
  position: relative;
  display: flex;
  vertical-align: middle;
}

.private-navbar .btn:focus,
.private-navbar .btn:hover {
  color: var(--btn-hover-color);
}

.private-navbar .btn:focus,
.btn:active {
  outline: none;
  box-shadow: none;
}

.private-navbar .dropdown-item:active {
  background-color: transparent;
}

.private-navbar .dropdown-menu {
  background-color: var(--white);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 0.5rem;
  border: none;
}

/* Navbar user profile dropdown */
.private-navbar .dropdown-menu.show {
  text-align: center;
  margin-right: 40px;
}

/* Navbar user profile dropdown breakpoint*/
@media (max-width: 991px) {
  .private-navbar .dropdown-menu.show {
    margin-right: 0;
  }

  .private-navbar .dropdown-menu.show {
    display: block;
  }

  .private-navbar .dropdown-menu-end[data-bs-popper] {
    right: 0;
    left: 0;
  }
}
